<h1> Showing User </h1>
<!-- <b><%= @user.name %></b> (<%= @user.id %>) <%= @user.email %> -->
<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>
  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
