<h1> Showing User </h1>
<!-- <b><%= @user.name %></b> (<%= @user.id %>) <%= @user.email %> -->
<ul>

  <li>
    <strong>name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

</ul>
