
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Flexcility - CWMS</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">



</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div>
      <a class="navbar-brand" href="#"><img src='<%= static_path(@conn, "/images/Flexi-logo.gif") %>' class="maxipura-logo"/></a>


      <span class="pull-right">
        <%= if @current_user do %>
          <%= @current_user.email %>
          <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
          <% else %>
          <%= link "Register", to: user_path(@conn, :new) %>
          <%= link "Log in", to: session_path(@conn, :new) %>
        <% end %>
      </span>
    </div>
  </nav>
    <div id="wrapper" class="toggled main-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Dashboard
                    </a>
                </li>
                <li>
                    <%= link "Inventory", to: product_path(@conn, :index) %>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <%= render @view_module, @view_template, assigns %>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>


    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    // $(document).ready(function(e){
    //   $("#wrapper").addClass("toggled");
    // });
    </script>

</body>

</html>
